.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.item {
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer {
  display: none;
}

.show {
  display: block;
}
